body{
	background-color: #2E2E2E;
	color: #FFF;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;	
}

header{
	background-color: #5F5F5F;
	text-align: center;
	height: 4em;
	margin: 0 auto;	
	margin-top: 1em;
	width: 50%;
}

footer{
	background-color: #5F5F5F;
	text-align: center;
	height: 4em;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 50%;
}

nav{
	background-color: #5F5F5F;
	display: inline-block;
	height: 10em;
	margin-left: 22.5em !important;
	margin: 0 auto;
	margin-top: 1em;
	text-align: center;
	width: 15%
}

section{
	background-color: #5F5F5F;
	display: inline-block;
	height: 10em;
	margin: 0 auto;
	margin-top: 1em;
	text-align: center;
	width: 20%
}

aside{
	background-color: #5F5F5F;
	display: inline-block;
	height: 10em;
	margin: 0 auto;
	margin-top: 1em;
	text-align: center;
	width: 15%
}

article{
	background-color: #A6A6A6;
	display: block;
	height: 4em;
	margin: 0 auto;
	margin-top: 1em;
	width: 70%;
}

#sectionHeader, #sectionFooter{
	background-color: #A6A6A6;
	display: block;
	height: 2em;
	margin: 0 auto;
	margin-top: 1em;
	width: 70%;

}

span.txt{
	margin-top: 12px;
}